.swiper {
  max-width: 960px;
  margin: 0 auto;
}

.swiper-wrapper {
  padding: 0;
}

.swiper-button-prev,
.swiper-button-next {
  width: 50px !important;
  height: 50px !important;
  background: none;
  position: absolute;
  color: $white !important;

  &:hover {
    color: #dfd4eb !important;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
  right: 40px !important;
  left: auto !important;
}
