.header {
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;

  @include responsive(laptop) {
    margin-bottom: 25px;
  }

  &__menu-btn {
    grid-area: button;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 2;

    @include responsive(tablet) {
      display: block;
    }

    &[data-state='open'] {
      #burger-open {
        display: none;
      }
      #burger-close {
        display: block;
      }
    }

    &[data-state='closed'] {
      #burger-open {
        display: block;
      }
      #burger-close {
        display: none;
      }
    }
  }

  &.menu-open {
    .nav {
      transform: translateY(0);
      visibility: visible;
    }
  }

  &__top {
    display: grid;
    grid-template-areas: 'logo menu';
    justify-content: space-between;
    margin-bottom: 240px;
    padding-top: 20px;

    @include responsive(laptop) {
      margin-bottom: 210px;
    }

    @include responsive(tablet) {
      grid-template-areas: 'logo button';
    }
  }
}

.nav {
  grid-area: menu;

  @include responsive(tablet) {
    display: none;
  }
}

.top-menu {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  gap: 40px;

  @include responsive(laptop) {
    gap: 30px;
  }

  @include responsive(tablet) {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  &__link {
    font-size: 15px;
  }
}

.no-transition * {
  transition: none !important;
}

.header__top nav {
  color: $white;
}
