.header {
  position: relative;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }
}

.top-menu {
  display: flex;
  gap: 40px;

  &__link {
    color: $white;
  }
}

.btn--register {
  margin-bottom: 70px;
}
