.menu-open .header__top {
  background: $white;
  color: $dark;
  gap: 36px;
  padding-bottom: 25px;
  grid-template-areas:
    'logo button'
    'menu menu';

  .nav {
    display: grid;
  }
}

.logo-top {
  grid-area: logo;
}

