.burger-active {
  background: $white;
  grid-template-areas:
    'logo button'
    'menu menu';
}

header.menu-open {
  .header__menu-btn {
    span {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }

  .nav {
    transform: translateX(0);
  }
}
