.hero {
  padding-bottom: 90px;

  @include responsive(tablet) {
    display: flex;
    justify-content: center;
    padding-top: 275px;
    padding-bottom: 60px;
  }

  @include responsive(phone) {
    padding-top: 120px;
    padding-bottom: 35px;
  }

  &__text-container {
    width: 471px;

    @include responsive(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__heading {
    margin-bottom: 20px;

    @include responsive(phone) {
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 50px;
    width: 380px;

    @include responsive(phone) {
      width: unset;
      margin-bottom: 28px;
      line-height: 133%;
    }
  }

  &__register-btn {
    display: block;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive(phone) {
      width: 100%;
      max-width: 290px;
    }
  }
}
