.hero {
  padding-bottom: 90px;

  &__text-container {
    width: 471px;
  }

  &__heading {
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 50px;
    width: 380px;
  }

  &__register-btn {
    display: block;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
