.footer {
  background: linear-gradient(47deg, #2e00b1 0%, #8100bd 48.44%, #a400be 100%);
  padding: 70px 0 50px 0;
  color: white;

  @include responsive(tablet) {
    padding-top: 60px;
  }

  @include responsive(phone) {
    padding-top: 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, max-content) minmax(150px, 400px);
    grid-template-areas:
      'logo menu contacts map'
      'copyright . . .';
    gap: 24px 15px;

    @include responsive(laptop) {
      gap: 9px 19px;
    }

    @include responsive(tablet) {
      gap: 30px;
      grid-template-columns: max-content 1fr;
      grid-template-areas:
        'logo .'
        'menu contacts'
        'map map'
        'copyright .';
    }

    @include responsive(phone) {
      gap: 20px;
      grid-template-areas:
        'logo'
        'menu'
        'contacts'
        'map'
        'copyright';
    }
  }

  &__logo {
    grid-area: logo;

    @include responsive(phone) {
      margin-bottom: 10px;
    }
  }

  &__menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    line-height: 130%;
    padding: 8px 40px;
    gap: 14px;

    @include responsive(laptop) {
      padding: 13px 20px 0 20px;
    }

    @include responsive(tablet) {
      padding: 0;
      max-width: 220px;
    }

    @include responsive(phone) {
      gap: 9px;
    }
  }

  &__copyright {
    grid-area: copyright;
  }

  &__map {
    grid-area: map;
    padding: 10px 0;
    width: 100%;
    max-width: 280px;
  }
}

.logo-link {
  height: fit-content;
}
