.contacts {
  grid-area: contacts;
  padding: 8px 14px;
  max-width: 290px;
  font-weight: 700;

  @include responsive(laptop) {
    max-width: 181px;
    padding: 8px 0;
  }

  @include responsive(tablet) {
    padding: 0;
    max-width: unset;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 25px;

    @include responsive(phone) {
      gap: 10px;
      margin-bottom: 20px;
    }
  }
}
