.reviews {
  padding-top: 90px;
  margin-bottom: 120px;

  @include responsive(laptop) {
    margin-bottom: 90px;
  }

  @include responsive(tablet) {
    padding-top: 75px;
    margin-bottom: 77px;
  }

  &__slider {
    position: relative;
  }

  &__header {
    margin-bottom: 10px;

    @include responsive(laptop) {
      margin-bottom: 40px;
    }

    @include responsive(tablet) {
      max-width: 400px;
    }
  }

  &__list {
    display: flex;
    line-height: 130%;
  }

  &__item-container {
    text-align: center;
    max-width: 260px;

    @include responsive(tablet) {
      max-width: 220px;
    }
  }

  &__image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__image {
    margin-bottom: 10px;
    border-radius: 100%;
    width: 140px;
    height: 140px;

    @include responsive(tablet) {
      width: 80px;
      height: 80px;
    }
  }

  &__author {
    font-weight: 700;
  }

  &__text {
    width: 100%;
  }
}
